<!DOCTYPE html>
<html lang="en">
<head>
  <meta chartset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content"ie=edge">
  {{!--GOOGLE FONT--}}
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
  {{!-- BOOTSTRAP--}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.cshttps://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.csss">
  <link rel="stylesheet" href="../public/css/style.css">
  <title> Links App</title>
</head>
<body>
  {{{ body }}}
</body>
</html>
